<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
        <!-- <div include-with-scope="app/pages/jobwork/widgets/smartTable.html"></div> -->
        <div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" ng-click="open('app/pages/jobwork/widgets/addModal.html', 'md')">
      Add jobwork
    </button>
  </div>
</div></br>
<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table table-bordered" st-table="jobworkData">
    <thead>
    <tr class="sortable ">
      <th st-sort="suppliers">Suppliers</th>
      <th st-sort="designType">Design type</th>
      <th st-sort="designName">design Name</th>
      <th st-sort="clientname">client Name</th>
      <th st-sort="noPitch">no of piece</th>
      <th st-sort="pricePerPitch">Price</th>
      <th st-sort="totalAmount">total Amount</th>
      <th st-sort="deadLine">deadline</th>
      <th st-sort="material">material</th>
      <th st-sort="noOfMaterial">No of material</th>
      <th st-sort="processType">Process Type</th>
      <th st-sort="status">status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="val in jobworkGridData">
      <td>{{val.suppliers}}</td>
      <td>{{val.designType}}</td>
      <td>{{val.designName}}</td>
      <td>{{val.clientname}}</td>
      <td>{{val.noPitch}}</td>
      <td>{{val.pricePerPitch}}</td>
      <td>{{val.totalAmount}}</td>
      <td>{{val.deadLine}}</td>
      <td>{{val.material}}</td>
      <td>{{val.noOfMaterial}}</td>
      <td>{{val.processType}}</td>
      <td>{{val.status}}</td>
      <td><span class="btn-sm bg-warning" data-toggle="modal" ng-click="editJobwork('app/pages/jobwork/widgets/editModal.html', 'md', val._id,val.suppliers,val.designType,val.clientname,val.noPitch,val.pricePerPitch,val.totalAmount,val.deadLine,val.material,val.noOfMaterial,val.processType,val.status)" style="margin-bottom:1px; cursor: pointer;">Edit</span></br><span class="btn-sm bg-danger" ng-click="deleteJobwork(val._id)" style="cursor: pointer;">Delete</span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
      </div>
    </div>
  </div>

</div>




