<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
        <!-- <div include-with-scope="app/pages/material/widgets/smartTable.html"></div> -->
        <div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" ng-click="open('app/pages/material/widgets/addModal.html', 'md')">
      Add material
    </button>
  </div>
</div></br>
<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table table-bordered" st-table="materialData">
    <thead>
    <tr class="sortable ">
      <th st-sort="materialName">Material Name</th>
      <th st-sort="materialItem">Material Item</th>
      <th st-sort="materialPrice">Price Per Item</th>
      <th st-sort="materialCost">Total Cost</th>
      <th st-sort="materialPending">Pending List</th>
      <th st-sort="materialRemarks">Remarks</th>
      <th>Action</th>
    </tr>
    <!-- <tr>
      <th><input st-search="materialName" placeholder="Search name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="materialItem" placeholder="Search address" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="materialPrice" placeholder="Search city" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="materialCost" placeholder="Search state" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="materialPending" placeholder="Search country" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="materialRemarks" placeholder="Search mobile" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="materialEmail" placeholder="Search email" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="materialType" placeholder="Search type" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr> -->
    </thead>
    <tbody>
    <tr ng-repeat="val in materialGridData">
      <td>{{val.materialName}}</td>
      <td>{{val.materialItem}}</td>
      <td>{{val.materialPrice}}</td>
      <td>{{val.materialCost}}</td>
      <td>{{val.materialPending}}</td>
      <td>{{val.materialRemarks}}</td>
      <td><span class="btn-sm bg-warning" data-toggle="modal" ng-click="editMaterial('app/pages/material/widgets/editModal.html', 'md', val._id,val.materialName,val.materialItem,val.materialPrice,val.materialCost,val.materialPending,val.materialRemarks)" style="margin-bottom:1px; cursor: pointer;">Edit</span></br><span class="btn-sm bg-danger" ng-click="deleteMaterial(val._id)" style="cursor: pointer;">Delete</span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
      </div>
    </div>
  </div>

</div>




