<div class="modal-content" id="editsupplier">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Edit Modal </h4>
  </div>
  <form class="form form-horizontal">
  <div class="modal-body">
      
       <input type="hidden" ng-model="supplierID">
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier Full Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierFname" placeholder="supplier Full Name">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier Address:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierAddress" placeholder="supplier Address">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier City:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierCity" placeholder="supplier City">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier State:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierState" placeholder="supplier State">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier Country:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierCountry" placeholder="supplier Country">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier Mobile:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierMobile" placeholder="supplier Mobile">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">supplier Email:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="supplierEmail" placeholder="supplier Email">
            </div>
          </div>
         
          
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
          <button type="button" class="btn btn-success" ng-click="updatesupplier()">Update changes</button>
         
  </div>
   </form>
</div>
