<div class="modal-content" id="editJobwork">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Edit Modal </h4>
  </div>
  <form class="form form-horizontal">
  <div class="modal-body">
      
       <input type="hidden" ng-model="jobworkID">
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Full Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkFname" placeholder="Jobwork Full Name">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Address:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkAddress" placeholder="Jobwork Address">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork City:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkCity" placeholder="Jobwork City">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork State:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkState" placeholder="Jobwork State">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Country:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkCountry" placeholder="Jobwork Country">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Mobile:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkMobile" placeholder="Jobwork Mobile">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Email:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="jobworkEmail" placeholder="Jobwork Email">
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-sm-3 control-label">Jobwork Type:</label>
            <div class="col-sm-7">
              <select class="form-control selectpicker show-tick" title="Select JobworkType" selectpicker
                                    ng-model="jobworkType" ng-options="key for (key, val) in jobworkTypeObj">
                            </select>
            </div>
          </div>
      
          
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
          <button type="button" class="btn btn-success" ng-click="updateJobwork()">Update changes</button>
         
  </div>
   </form>
</div>
