<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
        <!-- <div include-with-scope="app/pages/suppInventory/widgets/smartTable.html"></div> -->
        <div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" ng-click="open('app/pages/suppInventory/widgets/addModal.html', 'md')">
      Add suppInventory
    </button>
  </div>
</div></br>
<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table table-bordered" st-table="suppInventoryData">
    <thead>
    <tr class="sortable ">
      <th st-sort="suppInventoryName">Name</th>
      <th st-sort="suppInventoryItemName">Item.No.</th>
      <th st-sort="suppInventoryTotalLength">Length</th>
      <th st-sort="suppInventoryItemPrMeter">Item/Metr</th>
      <th st-sort="suppInventoryApproxMeter">Quantity</th>
      <th st-sort="suppInventoryChallan">Challan No.</th>
      <th st-sort="suppInventoryPendingItem">Pending Item</th>
      <th st-sort="suppInventoryRemarks">Remark</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="val in suppInventoryGridData">
      <td>{{val.suppInventoryName}}</td>
      <td>{{val.suppInventoryItemName}}</td>
      <td>{{val.suppInventoryTotalLength}}</td>
      <td>{{val.suppInventoryItemPrMeter}}</td>
      <td>{{val.suppInventoryApproxMeter}}</td>
      <td>{{val.suppInventoryChallan}}</td>
      <td>{{val.suppInventoryPendingItem}}</td>
      <td>{{val.suppInventoryRemarks}}</td>
      <td><span class="btn-sm bg-warning" data-toggle="modal" ng-click="editSuppInventory('app/pages/suppInventory/widgets/editModal.html', 'md', val._id,val.suppInventoryName,val.suppInventoryItemName,val.suppInventoryTotalLength,val.suppInventoryItemPrMeter,val.suppInventoryApproxMeter,val.suppInventoryChallan,val.suppInventoryPendingItem,val.suppInventoryRemarks)" style="margin-bottom:1px; cursor: pointer;">Edit</span></br><span class="btn-sm bg-danger" ng-click="deleteSuppInventory(val._id)" style="cursor: pointer;">Delete</span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
      </div>
    </div>
  </div>

</div>




